input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: var(--white);
    background: var(--purple);
    overflow: hidden;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: max-height 0.3s ease-out;
}

.accordion-container {
    border-radius: 8px;
    overflow: hidden;
    width: 30vw;
    margin: 0 auto;
}

.accordion-item {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: var(--dark-purple);
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.accordion-title:hover {
    background: var(--darker-purple);
}

.accordion-title::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    transition: transform 0.3s;
}
.accordion-content a {
    text-decoration: none;
    display: block;
    margin: 0;
    color: var(--white);
    font-size: 18px;
}

.accordion-content p {
    margin: 0;
    color: var(--white);
    font-size: 18px;
}

input[type="checkbox"]:checked + .accordion-content {
    max-height: 100vh;
    padding: 16px;
}

input[type="checkbox"]:checked + .accordion-title::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input[type="checkbox"]:checked ~ .accordion-title {
    border-bottom-left-radius: 0; /* Remove bottom border radius */
    border-bottom-right-radius: 0; /* Remove bottom border radius */
}