
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 500;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--darkest-gray);
    color: #fff;
    display: flex;
    flex-direction: column;
}
.about-description {
    max-width: calc(35% - 50px); 
    padding-right: 20px; 
    margin-bottom: 20px;
    margin-top: 80px; 
}

.about-description p.smaller-font {
    font-size: 20px;
    margin-bottom: 10px; 
}

.about-description h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    margin-right: 50px; 
    padding: 12px 35px; 
    border-radius: 15px;
    text-decoration: none;
}


.about-btn {
    background-color: transparent;
    color: var(--white); 
    border: 1px solid white; 
}


.profile img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    border-radius: 5px; 
    display: flex;
    align-items: center; 
    margin-right: 50px; 
}

#about {
    padding-top: 100px; 
}


section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

.left{
    align-self: flex-start;
    margin-right: auto;
    margin-left: 15rem;
}
.right{
    margin-left: auto;
    margin-right: 15rem;
}
.about {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.about-content{
    margin-top: 4rem;
    margin-right: 15rem;
    padding: 2rem;
    background-color: black;
    border-radius: 2rem;
    height: 10rem;
    max-width: 30rem;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px; 
    margin-bottom: 20px;
    background-color: black;
    padding: 2rem;
    border-radius: 2rem;
}

.project img {
    max-width: 20rem;
    height: auto;
    margin-bottom: 10px;
}
.hexagon-container {
    display: flex;
    align-items: center;
}

.projects {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.hexagon {
    width: 400px;
    height: 800px;
    background: linear-gradient(to bottom, var(--purple), var(--darker-purple));
    position: relative;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon:before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 115.5px solid var(--purple);
}


.hexagon img {
    max-width: 100%;
    height: auto;
    transform: rotate(270deg);
    position: absolute;
    left: 12%;
    top: 0%;
}

.project-description {
    max-width: 40%;
    text-align: left;
    margin-left: 50px; /* Adjust the margin as needed */
}


.project-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.project-description .underline {
    width: 220px;
    height: 3px;
    background-color: var(--purple);
    margin: 0 auto 20px; /* Center the underline */
}

.project-description p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: left;
}

.application-btn {
    background-color: transparent;
    border: 1px solid white;
    color: var(--white);
    padding: 17px 35px; 
    border-radius: 15px;
    text-decoration: none;
    margin-left: 0;
}
.footer{
    align-self: center;
}
