.section-navigation {
    position: sticky;
    top: 70px; 
    background-color: var(--darkest-gray); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.section-navigation nav {
    display: flex;
    justify-content: center;
}

.section-navigation nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.section-navigation nav ul li {
    margin-right: 20px;
}

.section-navigation nav ul li a {
    text-decoration: none;
    color: var(--contrast-purple); 
    font-size: 18px; 
    font-weight: bold;
}
.anchor{
    display: block;
    position: relative;
    top: -130px; 
    visibility: hidden;
}